#addButton{
    position: relative;
    top: -34px;
    left: 95px;
}

.textbox{
  width: 100%;
  border-radius: 5px;
}

#mainBox{
  margin-bottom: 150px;
}

#cards .previous_question {
  width: 100%;
  height: 53px;
  margin-bottom: 6px;
}

